<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Svi</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>

	</welcome-file-list>

	<servlet>
		<servlet-name>InitService</servlet-name>
		<servlet-class>orange.olps.svi.servlet.InitService</servlet-class>
		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>WEB-INF/log4j.properties</param-value>
		</init-param>
		<init-param>
            <param-name>init-file</param-name>
            <param-value>Svi.properties</param-value>
        </init-param>
        <init-param>
            <param-name>env-rep</param-name>
            <param-value>HOME_SVI</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>VxmlService</servlet-name>
		<servlet-class>orange.olps.svi.servlet.VxmlService</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>VxmlServiceInactivite</servlet-name>
		<servlet-class>orange.olps.svi.servlet.VxmlServiceInactivite</servlet-class>
		<load-on-startup>15</load-on-startup>
	</servlet>
	<servlet>
        <servlet-name>RecordServlet</servlet-name>
        <servlet-class>orange.olps.svi.servlet.RecordServletSvi</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ServletFin</servlet-name>
        <servlet-class>orange.olps.svi.servlet.ServletFin</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
         <servlet>
        <servlet-name>ServletStatAs</servlet-name>
        <servlet-class>orange.olps.svi.servlet.ServletStatAs</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
	 <servlet>
        <servlet-name>ManageDesign</servlet-name>
        <servlet-class>orange.olps.svi.servlet.ManageDesign</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>
    
	<servlet-mapping>
		<servlet-name>VxmlService</servlet-name>
		<url-pattern>/VxmlService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VxmlServiceInactivite</servlet-name>
		<url-pattern>/VxmlServiceInactivite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>RecordServlet</servlet-name>
        <url-pattern>/RecordServletSvi</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ServletFin</servlet-name>
        <url-pattern>/ServletFin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitService</servlet-name>
        <url-pattern>/configuration</url-pattern>  
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ServletStatAs</servlet-name>
        <url-pattern>/statas</url-pattern>  
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ManageDesign</servlet-name>
        <url-pattern>/design</url-pattern>  
    </servlet-mapping>
	   <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
	
	<mime-mapping>
		<extension>grxml</extension>
		<mime-type>application/srgs+xml</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>srgs</extension>
		<mime-type>application/srgs+xml</mime-type>
	</mime-mapping>
</web-app>